{
  box-sizing: border-box;;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  width: 1000px;
  padding: 0 1rem;
}

header {
  background-image: url("car-bg.jpg");
  background-size: cover;
  background position: center center;
  display: flex;
  color: white;
  flex-direction: column;
  min-height: calc(100vh - 102px);
}

.content {
  margin: auto;
  font-size: 2rem;
  width: 1000px;
}

.content h1 {
color: #00c2ff;
margin-bottom: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 1rem;
}

nav .logo {
  font-size: 2.5rem;
}

nav li {

}

nav li a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.selected {
  font-weight: bold;
}

.highlight {
  background-color: #00c2ff;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

footer {
  background-color: #000;
  color: white;
  padding 1rem;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

footer strong {
  color: #00c2ff;
}

footer p {
  margin: 0;
}

@media screen and (max-width: 700px) {
  .content {
    margin: 2rem auto 0;
    font-size: 1.4rem;
  }
  nav ul {
    flex-direction: column;
  }

  nav li:not(:last-child) {
    margin-bottom: 1rem;
  }

  nav .highlight {
    display: none;
  }

  footer ul {
    flex-direction: column;
    justify-content: center;
  }

  footer li {
    margin: 1rem;
    text-align: center;
  }
